* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}

section {
  margin-bottom: 50px;
}

.banner {
  min-height: 670px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../image/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.banner-container {
  color: white;
  margin: auto;
  padding: 40px;
  text-align: center;
}

.banner-container h1 {
  font-size: 50px;
}

.banner-container p {
  font-size: 20px;
}

.button {
  text-decoration: none;
  background-color: rgb(165, 51, 51);
  padding: 10px 20px;
  color: white;
}

.donate-today {
  display: flex;
  justify-content: center;
}

.donate-container {
  padding: 10px;
  text-align: center;
  width: 60%;
}

.amount-contianer {
  display: flex;
}
.amount {
  width: 100%;
  background-color: rgb(216, 216, 216);
  border-radius: 8%;
  margin: 8px;
  padding: 12px;
}

.amount:hover {
  background-color: pink;
  border: 1px solid rgb(240, 96, 120);
}

.other-amount {
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

.container {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.all-plan {
  display: flex;
}

.plan-item:nth-child(1) {
  background-color: rgb(203, 236, 236);
}
.plan-item:nth-child(2) {
  background-color: rgb(238, 182, 192);
}
.plan-item:nth-child(3) {
  background-color: rgb(226, 196, 200);
}

.plan-item {
  width: 100%;
  margin: 10px;
  padding: 30px 15px;
  text-align: left;
  border-radius: 5%;
}

.full-width {
  display: flex;
  justify-content: center;
}

.half-width {
  padding: 30px;
  text-align: left;
}

.half-width img {
  width: 100%;
  min-height: 300px;
}

.updates {
  width: 70%;
  margin: auto;
}

.subscribe-container {
  background-color: pink;
  margin: 20px;
  padding: 40px;
}

.subscribe-container input {
  height: 30px;
  font-size: 17px;
}

footer {
  text-align: center;
  background-color: black;
  color: rgb(207, 60, 60);
  padding: 15px;
}

footer p {
  color: white;
}
